<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{msg}}</h1>
        <h2>Track Search</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Artist</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Artist Name">
          </div>
          <div class="form-group">
            <label for="example-description">Track Title</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Track"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Songs:</h3>
        <ul id="example-list" class="list-group">
          {{#each songs}}
          <li data-id="{{this.id}}" class="list-group-item">
            <img class="float-left" src={{this.track_image}}> 
            <a id = "artist" href="song/{{this.id}}">Artist: {{this.artist}}</a></br>
            <a id = 'track' href="song/{{this.id}}">{{this.track}}</a> </br>
            <a id = 'summary'>{{this.track_summary}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
