<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{song.track}}</h5>
          <p>
            <strong>Artist</strong>: {{song.artist}}</p>
          <p>
            <strong>{{song.track}}</strong> <a id = 'track' href={{song.track_published}}>{{song.track_published}}</a></p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
